<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultas</title>
</head>
<body>
    <h3>
 
        <%= Paciente.nombre %>
        <%= Paciente.apellido %>
    </h3>
    <h3>
        <%= Paciente.correo %>
    </h3>

    <% for(Consulta of Consultas){ %>
        <div class="container-alimento">
            <div>
                <h3>                  
                    <%= Consulta.Fecha %>
                </h3>
                <h3>
                    <%= Consulta.descripcion %>
                </h3>
            </div>

        </div>
        <% }; %>
</body>
</html>